* {
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
    background: rgb(2,0,36);
    background: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(81,9,121,1) 53%, rgba(7,53,150,1) 86%, rgba(6,78,166,1) 98%, rgba(4,125,197,1) 100%); 
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 0rem;
}

.container h1 {
    position: absolute;
    top: 5%;
    font-size: 9rem;
    color: white;
    flex-basis: 100%;
    text-align: center;
}

.container div{
    display: flex;
    color: white;
    font-size: 6rem;
    flex-basis: 80%;
    justify-content: space-between;
    margin: 0 0 100px 0
}

.container button{
    min-width: 300px;
    min-height: 300px;
    box-shadow: -8px 8px 8px 0px rgba(0,0,0,0.68);
    display: inline-block;
    color: black;
    font-size: 4rem;
    border-radius: 20px;

}

#player {
    color: green;
}

#cpu {
    color: red;
}
